.btn {
  border-radius: 5px;
  padding: 40px;
}

.text {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text:hover {
  background-color: rgb(202, 202, 202);
}

.contained {
  background-color: rgb(43, 43, 220);
  border: none;
}

.contained:hover {
  background-color: rgb(76, 76, 225);
}

.outlined {
  background-color: rgb(43, 43, 220);
}

.outlined:hover {
  border: 3px solid rgb(94, 94, 212);
}

.link {
  text-decoration: none;
  color: black;
}
